.details {
    display: flex;
    align-items: center;
    background-color: #84a98c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


    height: 100%;
}

.descriptionimg {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    width: 500px;
    height: 350px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 40px;
    color: #606c38;
    font-size: 20px;
}

.description span {
    color: #fefae0;
}

.description button {
    border: none;
    border-radius: 15px;
    background-color: #cad2c5;
    color: #bcb8b1;
    margin-top: 50px;
}

@media (max-width: 425px) {
    .details{
        flex-direction: column;
    }
    .descriptionimg{
        width: 100%;
    }
}